$red: #ea5455;
$black: #12161E;
$dark: #2a2e45;
// $dark: #30344d;
$white: #fff;
// $grey: #30344d;
$grey:#595959;
$blue: #00a2e8;
$green: #60c0b5;
$purple: #7672FD;
$light_purple: #b17fed;
$yellow: #d1ba5a;
$orange: #f37743;
$dark_yellow: #f39c12;
$dark_red: #e84c3d;
$sky: #3aafda;
$title: rgba(255, 255, 255, 0.8);
$light_grey: #ddd;
$dark_grey: #2c3140;
