@import '_color.scss';
@import '_form.scss';
@import '_additional.scss';
@import 'admin/_header.scss';
// @import '_slider.scss';
// @import '_login.scss';
// @import '_user.scss';

@font-face {
	src: url('../fonts/Catamaran-Regular.ttf');
	font-family: 'Catamaran';
}

* {
	margin: 0px;
	padding: 0px;
}

.mCSB_inside > .mCSB_container {
	margin-right: 0px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

    background-color: transparentize($black, .3) !important;
    background-color: transparentize($black, .3) !important;

}
body {
	font-family: 'Catamaran', sans-serif;
	letter-spacing: .5px;
	font-size: 14px;
	top: 0px !important;
	position: static !important;
	background-color: transparentize($light_grey, .1);

	>div {
		&:first-child {
			&.skiptranslate {
				display: none !important;
			}
		}
	}
}

p,
ul>li {
	line-height: 24px;
	//color: $grey;
}


/// Card box //

.card-box {
	background-color: transparentize($light_grey, .2);
	padding: 20px;

	>div {
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			flex: 1;
			font-size: 2rem;
		}

		>div {
			p {
				font-weight: 600;
			}
		}

	}
}

main {
	min-height: calc(100vh - 160px);
}


#container>div {
	width: 100% !important;
}

.d_row {
	display: flex;
}

.circle {
	border-radius: 50%;
	max-height: 100px;
}

.message {
	&.card {
		border-radius: 0;

		.card-body {
			ul {
				li {
					font-size: 16px;
				}
			}
		}
	}
}

.user_profile {
	padding: 3rem 2rem;
}

footer {
	height: 60px;

	.footer_content {
		padding: 10px 20px;
	}

}

.activity_log {
	margin: 20px 0;

	.activity_list {
		display: flex;

		//align-items: center;

		.activity_icon {
			padding: 20px 20px 10px;
			min-height: 80px;
			position: relative;
			z-index: 1;

			&:before {
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				top: 0;
				left: 50%;
				background-color: $light_grey;
				z-index: -1;
			}

			span {
				//background-color: $orange;
				color: $white;
				border-radius: 50px;
				width: 40px;
				height: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				filter: drop-shadow(-1px 0 10px transparentize($grey, .3));

			}

		}

		.activity_content {
			padding: 20px 20px 10px;
			border-bottom: 1px solid $light_grey;
			flex: 1;

			.h6 {
				font-weight: 600;
				color: $grey;
				margin-bottom: 5px;
				font-size: 1rem;
			}

			span {
				font-size: 16px;
			}

		}

	}
}


.top_search,
.close_btn {
	width: 0px;
	opacity: 0;
}


.search {
	display: flex;
	align-items: center;
	flex: 1;

	.close_btn {
		padding: 10px;
		flex: 2;
		padding: 0 30px;
		display: inline-block;
		text-align: center;
	}

	.top_search {}
}

@media only screen and (max-width : 767px) {
	.about_us > .d_row > .text-right{
		text-align: left !important;
	}
	.flex_container {
		padding-left: 0px;
		transition: all linear .12s;
		padding-top: 60px;

		.close_btn {
			flex: 2;
			padding: 0 20px;

		}

		header {
			>nav {
				width: 100% !important;

				ul {
					li {
						>a {
							padding: 0 10px;
						}

						.noti_box {
							max-width: 350px;
							min-width: 300px;

							a {
								padding-left: 8px;
								padding-right: 8px;
							}
						}

						&.dropdown {
							.dropdown-menu {
								&:before{
									content: none;
								}
								a {
									padding-left: 8px;
									padding-right: 8px;
								}
								.dropdown-item{
									 white-space:normal;
								}
							}
						}
					}
				}
			}
		}

		&.with_side_bar {
			padding-left: 0;

			header {
				>nav {
					width: 100% !important;
				}
			}
		}
	}

	.d_row {
		flex-direction: column;
	}



}


@media only screen and (max-width : 1024px) {
	.flex_container {
		padding-left: 0px;
		transition: all linear .12s;
		padding-top: 60px;

		header {
			>nav {
				width: 100% !important;

				#google_translate_element {
					display: none !important;
				}
			}
		}

		&.with_side_bar {
			padding-left: 0;

			header {
				>nav {
					width: 100% !important;
				}
			}
		}
	}

	button,
	a {
		&.btn {
			margin-bottom: 5px;
		}
	}

	table {
		tr {
			td {
				button {
					margin-bottom: 5px;
				}
			}
		}
	}

	.d_row {
		.col-md-6 {
			flex: 0 0 49.8%;
		}
	}




}